<div class='container-fluid'>
  <!-- TODO: Make this a directive -->
  <div class="center-google" style="top:12px">
    <ins class="adsbygoogle"
    style="display:inline-block;width:728px;height:90px"
    data-ad-client="ca-pub-4978994984254577"
    data-ad-slot="8843012271"></ins>
  </div>

  <!-- TODO: Remove inline styling -->
  <h2 style="margin-top: 35px; margin-bottom: -5px;">Current Patch Statistics</h2>
  <div class='row' id='stats'>
    <div class='search-sorter' style='display:inline-block;'>
      <input class='matchupSearch'
        type='text'
        ng-model='statistics.searchTitle'
        ng-change='statistics.searchUrl()'
        ng-model-options='{debounce:40}'
        style='margin-left: -22px'
        placeholder='Filter by Name'>
    </div>
    <div style='display:inline-block'>
      Sort Role
      <select class='minimum-games' 
        style='padding:5px' 
        ng-model='statistics.role'
        ng-change='statistics.roleChanged()'
        ng-options='role.label for role in statistics.roles'>
      </select>
    </div>
  </div>

  <!-- TODO: Replace with Grid solution ie ui-grid -->
  <table class='table table-striped' id='table-1' style='table-layout: auto;'>
    <thead>
      <tr>
        <th ng-repeat='header in statistics.headers' ng-bind='header.label'>
          
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='champion in statistics.statistics'>
        <th ng-repeat='header in statistics.headers' ng-bind='champion[header.field]'></th>
      </tr>
    </tbody>
  </table>
</div>
